.basic-edit-table {
  :global(.ant-form-item-feedback-icon-success) {
    display: none;
  }

  :global(.ant-input-number-affix-wrapper) {
    width: 100%;
  }

  :global(.ant-form-item) {
    margin-bottom: 0;
  }
}
