.LogisticsModal {
  :global {
    .ant-timeline-item-label {
      width: calc(30% - 12px) !important;
    }
    .ant-timeline-item-head,
    .ant-timeline-item-tail {
      left: 30% !important;
    }
    .ant-timeline-item-content {
      left: 30% !important;
      width: calc(70% - 14px) !important;
    }
  }
  .status {
    font-weight: 800;
    font-size: 17px;
  }
  .context {
    color: #818181;
  }
}
